:root {
  --primary-color: #6c63ff;
  --secondary-color: #f9f7fe;
  --heading-font-family: "playfair Display", serif;
  --deafault-font-family: "Poppins", sans-serif;
}

body {
  font-family: var(--deafault-font-family);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
  font-family: var(--heading-font-family);
  font-weight: bold;
}

h1 {
  font-size: 96px;
  line-height: 1.5;
}

h2 {
  font-size: 64px;
}

p {
  font-family: var(--deafault-font-family);
  font-size: 16px;
  line-height: 1.5;
}

.big {
  background: var(--secondary-color);
  text-align: center;
  padding: 160px 0;
}

.big p {
  font-size: 36px;
  margin: 0;
  font-weight: bold;
  color: #272142;
}

.big h2 {
  font-family: var(--deafault-font-family);
  line-height: 1.5;
  font-size: 24px;
  font-weight: normal;
}

.btn-branding {
  background: var(--primary-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.btn-branding-text {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.project-desc {
  padding: 120px 60;
}

@media (max-width: 900px) {
  h1 {
    font-size: 44px;
    line-height: 2;
  }

  h2 {
    font-size: 44px;
  }

  .big {
    padding: 80px 20px;
  }
  .project-desc {
    padding: 0;
    text-align: center;
  }
}
